version: '3.8'

services:
  ferpa-navigator:
    build: .
    container_name: ferpa_shield_app
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./src:/app/src  
      - ./app:/app/app
    environment:
      - PYTHONPATH=/app
    deploy:
      resources:
        limits:
          memory: 2G
    restart: always
networks:
  default:
    name: aits-secure-network